= User.find( session[:user_id] ).username if session[:user_id]

%h1 Caravan of Courage

%h2= @starring

%span= 2 + 7

%strong{:class => "code", :id => "message"} Hello, World!

%strong.code.other#message


%ul
  %li Groucho
  %li Harpo
  %li Chico