<!-- PLAYER PAGE -->
<section class = "col-lg-6 col-lg-offset-3 player">
	<% if @spotify_uri_list.present? %>
		<iframe src="https://embed.spotify.com/?uri=spotify:trackset:weatherify:<%= @spotify_uri_list.join(',') %>" frameborder="0" allowtransparency="true" width="100%"></iframe>
	<% end %>
</section>

<section class="col-lg-12 player-weather">

	<h5><%= @geo_location %> | <%= @weather_summary %> | <%= @weather_temp %>˚F </h5>

</section>