/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self

 */
@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Codystar);
html{
	height: 100%;
}
body{
	padding-top: 70px;
	padding-bottom: 1em;	
}
.notice{
	padding: .8em;
}
.history-view{
	overflow: scroll;
}
.title{
	font-size: 5em;
	font-family: 'Codystar', cursive; 
	padding-bottom: .5em;
}
.player{
	padding: 5em;
}
nav ul{
	display: inline;
	padding-top: 14px;
}
label{
	min-width: 157px;
}
.user-avatar{
	padding: 1em;
}
.user-avatar img{
	border-radius: 50%;
	max-width: 5em;
}
a:hover{
	text-decoration: none;
}
.footer{
	position: absolute bottom 0px;	
}
#welcome_description{
	padding-bottom: 1.5em
}