@import url(http://fonts.googleapis.com/css?family=Codystar);
html{
	height: 100%;
}
body{
	padding-top: 70px;
	padding-bottom: 1em;	
}
.notice{
	padding: .8em;
}
.history-view{
	overflow: scroll;
}
.title{
	font-size: 5em;
	font-family: 'Codystar', cursive; 
	padding-bottom: .5em;
}
.player{
	padding: 5em;
}
nav ul{
	display: inline;
	padding-top: 14px;
}
label{
	min-width: 157px;
}
.user-avatar{
	padding: 1em;
}
.user-avatar img{
	border-radius: 50%;
	max-width: 5em;
}
a:hover{
	text-decoration: none;
}
.footer{
	position: absolute bottom 0px;	
}
#welcome_description{
	padding-bottom: 1.5em
}